name: Deploy Backend via Docker

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Login using your existing secrets
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # Build + push latest image
      - name: Build and push Docker image
        working-directory: ./Backend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/mivora-backend:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/mivora-backend:latest
